.header {
    background-color: #92b4e6;
    height: 8em;
}

.title {
    padding: 1em 2em;
    font-size: 25px;
    color: #283648;
}

.subtitle {
    padding: 0 3em;
    font-size: 18px;
    color: #384658;
}

.filter-button > button {
    background: none;
	color: inherit;
	border: none;
	padding: 1em 4em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 1em;
    font-size: 19px;
    font-weight: 500;
}

.filter-button {
    display: flex;
    justify-content: space-evenly;
}

.filter-button > button:first-child {
    background-color: #6487c2;
    color: #1a1c71;
}

.filter-button > button:first-child:hover {
    background-color: #95b4e9;
    color: #1a1c71;
}

.filter-button > button:nth-child(2) {
    background-color: #edc277;
    color: #df9e1e;
}

.filter-button > button:nth-child(2):hover {
    background-color: #f8d8a1;
    color: #df9e1e;
}

.filter-button > button:nth-child(3) {
    background-color: #2fd5c4;
    color: #1b5e53;
}

.filter-button > button:nth-child(3):hover {
    background-color: #80e0ea;
    color: #1b5e53;
}

.filter-button > button:nth-child(4) {
    background-color: #ee8a7b;
    color: #772814;
}

.filter-button > button:nth-child(4):hover {
    background-color: #e99d96;
    color: #772814;
}

.add-data > mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .btn {
    margin-top: 5em;
    margin-right: 4em;
    font-size: 18px;
    width: 7em;
    height: 3em;
} */

.filter-button > button > span {
    display: block;
    padding-bottom: .5em;
}

.add-data-btn {
    background: #1a1c71;
	color: #dddff0;
	border: none;
	padding: 1em 1em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 1em;
    font-size: 19px;
    font-weight: 500;
    margin-right: 4em;
    margin-top: 3em;
}

.add-data-btn:hover {
    background-color: #5558f0;
    color: #dddff0;
}

.table {
    margin: 2em 0 0 0;
}

.table > mat-card {
    height: 20em;
    overflow: auto;
}